[alias]
	l = log --pretty=oneline --abbrev-commit --graph --decorate --all --color
	ls = log --pretty=oneline --abbrev-commit --graph --decorate --color
[color]
	ui = true
[color "decorate"]
	tag = magenta
[core]
	pager = delta
	trustctime = false
[push]
	default = simple
[user]
	name = Chris Sterritt
	email = csterritt@gmail.com
[init]
	defaultBranch = main
[core]

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true    # use n and N to move between diff sections

	# delta detects terminal colors automatically; set one of these to disable auto-detection
	# dark = true
	light = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
	algorithm = histogram
